@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>Hola mama</p>
Welcome to your new app.

<p>For more information on how to build this app, see <a href="https://aka.ms/blazor">https://aka.ms/blazor</a>.</p>
<p>To help you get started, we have also included a sample Weather Forecast component.</p>

